.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 0;
}

.buttonIcon {
  border-radius: 50%;
  width: 102px;
  height: 102px;
}

.button:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}

.button:focus {
  outline: none;
}
